<div class="card" id="home-container" style="width: 80rem; height:34rem;">

    <div class="card-body">
      <p class="card-text">Alpha Blog</p>
      <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Morbi aliquet urna vel urna pretium pretium.
      Suspendisse malesuada ornare magna, et gravida enim volutpat ac.
      Suspendisse ornare eros in nunc imperdiet auctor id et quam.
      Sed lacinia rhoncus nisi id consectetur. Duis cursus semper egestas.
      Integer consectetur nibh ut odio pretium, sollicitudin blandit nibh congue.
      Integer lacus risus, consectetur ut purus hendrerit, efficitur laoreet felis.
      Suspendisse sed egestas diam, quis maximus augue.
      Nulla neque tellus, faucibus vel elementum at, feugiat nec metus.
      Sed id ante quis augue rhoncus aliquam. Quisque imperdiet tortor ac venenatis porttitor.
      Nunc mattis quam nibh, non faucibus enim tincidunt non.
      Aliquam quis augue fringilla augue pellentesque ultrices.
      Ut enim nisi, finibus vel congue vitae, porta sed nulla.
      Cras eu blandit magna. Mauris vestibulum dignissim fermentum.
      Donec nec dolor ornare, laoreet sapien nec, ullamcorper elit.
      Pellentesque vestibulum justo massa.
      Nulla vitae dui sit amet augue pretium eleifend sed vehicula libero.
      In in sem id diam finibus porta. Aenean a tristique mi, et congue ipsum.
      </p>
      <button type="button" id = "btn1" class="btn btn-success">Learn more</button>
    </div>




</div>