@import "bootstrap";

.container-fluid a.navbar-brand {
  color:rgb(255, 250, 254);
  float:left;
  font-size: 1.7 em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.container-fluid a.navbar-brand:hover {
  color:rgb(191, 33, 240);
}

.navbar-nav.me-auto.mb-2.mb-lg-0 li a {
  color:rgb(255, 250, 254);
  text-align: center;
  float:left;

}
.navbar-nav.me-auto.mb-2.mb-lg-0 li a:hover{
  color: rgb(219, 154, 205);
  ;
}

#home-container {
  margin:auto;
  margin-top:15px;
  background-image: asset-url('keyboard.jpeg');
  width:50%;
  height:50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.card-text {
  font-size:60px;
  text-align: center;
}
.text {
  margin:12px;
  color:antiquewhite;
  letter-spacing: 4px;
}
.btn.btn-success {

  margin-top:20px;
  padding: 10px 15px;
}

body {
  background-color: lightgrey;
}

#articles-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

}

.link {
  text-decoration: none;
}

button {
  background-color: rgb(194, 235, 221);
}

button:hover {
  opacity: 80%;
}

#btn1 {
  margin-left:auto;
  margin-right:auto;
}

.card-body {
  text-align: center;
}

#timest {
  display:block;
  color:cornflowerblue
}

/* pagination styling */
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; 
    border-radius: 5px;
  }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: whitesmoke; 
    background: cornflowerblue;
    border: 1px solid rgb(0, 0, 0);
    }
    .apple_pagination a:hover, .apple_pagination a:focus 
    {
      background: rgb(255, 125, 175);
    }